// Wordpress class for all single article post types
.type-article {
  @include background(
                  linear-gradient(to bottom, rgba($orange, 0.5) 0, tint($yellow, 30%) 150px, $white 500px),
                  linear-gradient(to bottom, tint($yellow, 30%) 0, $white 500px)
  );
}

.article__header {
  @include rem('margin-bottom', ($vr * 3));
}

.article__title {
  @include font-weight('medium');

  @include media($l-up) {
    letter-spacing:-0.7px;
    //width: (($column * 8) / ($column * 12)) * 100%;
  }
}

.article__meta {
  margin-bottom:$vr;

  .icon svg {
    fill:$brown;
  }
}

.article__content {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color:$coral;
    @include font-weight('bold');
  }
}

.article__featured-image {
  @include rem('margin-bottom', $vr * 2);
  border:1px solid $pale-grey;
}

.article__lead-para {
  @include font-weight('medium');

  @include media($l-up) {
    @include font-size(19px, 30px);
  }
}

//-----


.article-extract {
  @include clearfix();
  &:not(:last-child) {
    @include rem('margin-bottom', ($vr * 2));
  }
}

.article-extract__title {
  @include font-weight('medium');
  @include rem('line-height', 18px);
  display:block;
}

.article-extract__image {
  @include rem('margin-bottom', $vr);
}

.article-extract--inline {

  .article-extract__image {
    float:none;
    @include rem('margin-right', 15px);
    margin-bottom:0;

    @include media($m) {
      float:left;
    }

    @include media($xl) {
      float:left;
    }
  }

}

.article__post-article {
  font-style: italic;
  border:1px solid tint($light-grey, 70%);
  background: tint($pale-grey, 10%);
  @include all-pad();
}


.article-archive {
  @include rem('margin-bottom', $vr * 2);
  @include rem('padding-bottom', $vr * 2);
  &:not(:last-child) {
    border-bottom:1px solid shade($pale-grey, 10%);
  }

  @include media($m-up) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.article-archive__image {
  display: block;
  border:1px solid tint($light-grey, 60%);
  @include rem('margin-right', 20px);

  @include media($s-down) {
    @include rem('margin-bottom', $vr);
  }
  @include media($m) {
    max-width:140px;
  }

  @include media($l-up) {
    max-width:230px;
  }
}

.article-archive__title {
  @include rem('margin-bottom', 0);
  line-height:1.2;
}

.article-archive__meta {
  @include rem('margin-top', $vr * 0.5);
  @include font-size(14px, 24px);
  color:$brown;
}

.article-archive__extract {
  margin-bottom:0;
  @include font-size(14px, 20px);
  @include rem('margin-top', $vr * 0.5);
}

.article-archive__tags {
  @include rem('margin-top', $vr);
  @include font-size(12px, 14px);
  font-style: italic;
}

.article-archive__icon {
  max-width:16px;
  fill: $brown;
  vertical-align: middle;

  &:not(:first-of-type) {
    margin-left:10px;
  }
}

