/// A simple hero element for the top of a page

.hero {
  @include rem('margin-bottom', ($vr * 3));
  z-index: z('medium');

  @include media($l-up) {
    @include rem('margin-bottom', ($vr * 6));
  }
}

.hero__content {
  @include outer-container();
  @include all-pad(($vr * 3), $lr-pad);

  @include media($l-up) {
    @include all-pad(($vr * 6), $lr-pad);
  }
}

.hero--coral {
  background-color:$coral;
  @include background(linear-gradient(to bottom, $coral 50%, shade($coral, 6%) 100%));
}

.hero--yellow {
  @include background(
                  linear-gradient(to top, $yellow 40%, rgba($orange, 0.5) 100%),
                  $yellow
            );
}

.hero--align-centre {
  text-align: center;
}