/*
* Icon classes
* Always nest the actual image or SVG inside the icon element
* Example: <i class="icon icon--medium icon--circle"><img class="svg" src="iconname.svg"></i>
*/

.icon, .icon > img, .icon > svg {
  display:inline-block;
  margin:0 auto;
  vertical-align: middle;
}

.icon {
  @include rem('margin-bottom', $vr);
}

$icon-sizes: (
        'xxsmall': 12px,
        'xsmall': 16px,
        'small': 20px,
        'medium': 32px,
        'large': 48px,
        'xlarge': 60px,
        'xxlarge': 100px,
        'xxxlarge': 150px,
        'xxxxlarge': 180px
);

@each $label, $value in $icon-sizes {
  .icon--#{$label}, .icon--#{$label} > img, .icon--#{$label} > svg {
    @include rem('height', (map-get($icon-sizes, $label) * 0.8));
    @include rem('width', (map-get($icon-sizes, $label) * 0.8));

    @include media($l-up) {
      height:auto;
      @include rem('width', map-get($icon-sizes, $label));
    }
  }
}

.icon--xxlarge, .icon--xxxlarge, .icon--xxxxlarge {
  @include media($l-up) {
    @include rem('margin-bottom', ($vr * 3)); // Extra margin for the really big icons
  }
}

// Alignment
.icon--align-right {
  float:right;
}

.icon--align-centre,
.icon--align-center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}



// Extra decoration
.icon--circle {
  border-radius: 50%;
  overflow:hidden;
}

.icon--badge {
  box-sizing: content-box;
  background-color: $coral;
  border-radius:50%;
  @include all-pad($vr * 1.3, $vr * 1.3);
  border:4px solid $white;
  fill:$white;

  & > svg {
    vertical-align: baseline; // to deal with the reduced size SVG in the $icon--<size> classes above
  }

  @include media($l-up) {
    & > svg {
      vertical-align: middle; // to reset to default .icon setting
    }
  }
}

.icon--nudge-up {
  display:block;
  position:relative;
  top:-15px;
  margin-bottom:-5px;
}


.icon--fill-coral {
  fill: $coral;
}