.icon, .icon > img, .icon > svg {
  vertical-align: middle;
  @include size(32px auto); // default size
}

.icon {
  @include rem('margin-bottom', $vr);
}

.icon--circle {
  border-radius: 50%;
}

.icon--right {
  float:right;
}

$icon-sizes: (
  'xsmall': 16px,
  'small': 24px,
  'medium': 32px,
  'large': 48px,
  'xlarge': 60px,
  'xxlarge': 100px,
  'xxxlarge': 150px
);

@each $label, $value in $icon-sizes {
  .icon--#{$label}, .icon--#{$label} > img, .icon--#{$label} > svg {
    height:auto;
    @include rem('width', (map-get($icon-sizes, $label) * 0.7));

    @include media($l-up) {
      @include rem('width', map-get($icon-sizes, $label));
    }
  }
}

// Extra decoration
.icon--badge {
  box-sizing: content-box;
  background-color: $coral;
  border-radius:50%;
  @include all-pad($vr, $vr);
  border:4px solid $white;
}

.icon--centred {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.icon--nudge-up {
  position:relative;
  top:-15px;
  margin-bottom:-5px;
}