.link-group {
  @include clearfix();
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  align-content:flex-start;
  justify-content:flex-start;
  list-style: none;
  margin:0;
  padding:0;
  @include rem('margin-bottom', $vr);
}

.link-group__item:not(:last-child) {
  @include rem('margin-bottom', $vr);
}

// Make a link-group inline on large screens
.link-group--inline {
  flex-direction:row; // convert to row from column

  .link-group__item {
    @include rem('margin-left', 0); // margin between items
    @include rem('margin-right', 7px);
    margin-bottom:0; // remove margin set for vertical list
  }

  &.link-group--align-right {
    @include media($l-up) {
      justify-content:flex-end;
      .link-group__item {
        @include rem('margin-left', 7px); // swap margins around
        @include rem('margin-right', 0);
      }
    }
  }
}

.link-group--is-button {
  line-height:1;
}

.link-group--list-when-xsmall {
  @include media($xs) {
    flex-direction:column;

    .link-group__item {
      @include rem('margin-bottom', $vr);
    }
  }
}

.link-group--list-when-small {
  @include media($s) {
    flex-direction:column;

    .link-group__item {
      @include rem('margin-bottom', $vr);
    }
  }
}

.link-group--list-when-medium {
  @include media($m) {
    flex-direction:column;

    .link-group__item {
      @include rem('margin-bottom', $vr);
    }
  }
}

.link-group--list-when-large {
  @include media($l) {
    flex-direction:column;

    .link-group__item {
      @include rem('margin-bottom', $vr);
    }
  }
}

.link-group--list-when-xlarge {
  @include media($xl) {
    flex-direction:column;

    .link-group__item {
      @include rem('margin-bottom', $vr);
    }
  }
}

.link-group--border-top {
  @include rem('padding-top', ($vr * 2));
  @include rem('margin-top', ($vr * 2));
  border-top:1px solid rgba($dark-grey, 0.2);
}

