.page-menu {
  margin: 0;
  padding: 0;
  background-color: $yellow;
  z-index: z('medium');
}

.page-menu__items {
  margin: 0;
  padding: 0;
  @include outer-container();
  list-style: none;

  @include media($l-up) {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
  }
}

.page-menu__item {
  position: relative;
  width: 100%;
  display:none;

  &:not(:last-child) {
    border-right: 1px solid rgba($dark-grey, 0.1);
  }

  @include media($l-up) {
    display:block;
  }
}

.page-menu__mobile-toggle {
  text-transform: uppercase;
  cursor:pointer;
  @include pad($vr);
  @include font-weight('bold');
  font-size:1.4rem;
  color:$white;
  background-color:rgba($dark-grey, 0.1);

  @include media($l-up) {
    display:none;
  }
}

.page-menu__link {
  display: block;
  @include tb-pad(15px);
  @include lr-pad(10px);
  @include font-size(16, 18);
  text-align: center;
  color: $dark-grey;
  text-shadow: 0 1px 0 rgba($white, 0.6);
  @include size(100%);
  border-top:1px solid rgba($dark-grey, 0.1);

  @include media($l-up) {
    @include tb-pad(20px);
    border-top:0;
  }

  &:hover {
    background-color: darken($yellow, 12%);
    color: $white;
    text-shadow: none;
  }
}

.page-menu__link--active {
  background-color:$coral;
  @include font-weight('medium');
  color:$white;
  text-shadow: 0 -1px 0 darken($coral, 30%);

  @include media($l-up) {
    position:absolute;
    height: calc(100% + 3px);
    //padding-bottom:23px;
    border-left:2px solid hsla(0, 100%, 0, 0.2);
    border-right:2px solid hsla(0, 100%, 0, 0.2);

  }

  &:hover {
    background-color:$coral;
    color:$white;
    text-shadow: 0 -1px 0 darken($coral, 30%);
  }
}