/// A full-width menu used as a sub-navigation
/// relevant to the content on the current page
/// and sibling pages

// Menu container
.page-menu {
  margin: 0;
  padding: 0;
  background-color: $yellow;
  z-index: z('medium');
}

// All items
.page-menu__items {
  margin: 0;
  padding: 0;
  @include outer-container();
  list-style: none;

  @include media($l-up) {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
  }
}

// Single item
.page-menu__item {
  position: relative; // needed for an active link, which is positioned absolutely
  width: 100%;
  display:none;

  &:not(:last-child) {
    border-right: 1px solid rgba($dark-grey, 0.1); // dividers
  }

  @include media($l-up) {
    display:block; // fill the parent's width
  }
}

// Toggle button on smaller screens
.page-menu__mobile-toggle {
  text-transform: uppercase;
  cursor:pointer;
  @include all-pad();
  @include font-weight('bold');
  font-size:1.4rem;
  color:$white;
  background-color:rgba($dark-grey, 0.1);

  svg {
    fill:$white;
  }

  @include media($l-up) {
    display:none;
  }
}

// Links within items
.page-menu__link:link,
.page-menu__link:visited {
  display: block;
  @include tb-pad(15px);
  @include lr-pad();
  @include font-size(16, 18);
  text-align: center;
  color: $dark-grey;
  text-shadow: 0 1px 0 rgba($white, 0.6);
  @include size(100%);
  border-top:1px solid rgba($dark-grey, 0.1);

  @include media($l-up) {
    @include tb-pad();
    border-top:0;
  }
}
.page-menu__link:hover {
  background-color: darken($yellow, 12%);
  color: $white;
  text-shadow: none;
}

// Active link
.page-menu__link--active:link,
.page-menu__link--active:visited {
  background-color:$coral;
  @include font-weight('medium');
  color:$white;
  text-shadow: 0 -1px 0 darken($coral, 30%);

  @include media($l-up) {
    position:absolute;
    height: calc(100% + 3px);
    //padding-bottom:23px;
    border-left:2px solid hsla(0, 100%, 0, 0.2);
    border-right:2px solid hsla(0, 100%, 0, 0.2);

  }
}
.page-menu__link--active:hover {
  background-color:$coral;
  color:$white;
  text-shadow: 0 -1px 0 darken($coral, 30%);
}