/// Mailing list sign-up form

// Form container
.signup-form {
  @include outer-container();
  background-color:$mid-blue;
  @include rem('margin-bottom', $vr * 2);
}

// Add padding if needed
.signup-form--padded {
  @include all-pad(($vr * 2));
}

// Make corners rounded
.signup-form--rounded-corners {
  border-radius: 5px;
}

.signup-form--rounded-corners-top {
  border-radius: 5px 5px 0 0;
}

.signup-form--rounded-corners-bottom {
  border-radius: 0 0 5px 5px;
}

// Brief intro to the form
.signup-form__intro {
  @include rem('margin-bottom', $vr);
  @include font-size(16px, 21px);
}

// Each field and/or label should be contained
// within a fieldgroup
.signup-form__fieldgroup {
  @include rem('margin-bottom', $vr);
}

// Inline version of the form
// Order: intro | fields | submit button
.signup-form--inline {
  margin-bottom:0;

  @include media($l-up) {

    .signup-form__intro {
      @include span-columns(4);

      @include media($l-up) {
        margin-bottom:0;
      }
    }

    .signup-form__fields {
      @include span-columns(8);
      display:flex;
      justify-content: space-between;
      align-content:center;
      align-items: stretch;
    }

    .signup-form__fieldgroup {
      flex-grow:1;
      margin:0;

      &:not(:last-child) {
        @include rem('margin-right', 10px);
      }
    }

    .signup-form__submit {
      @include span-columns(2);
    }
  }
}