.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  @include rem('margin-bottom', $vr);
}

.menu__item {
  // Remove padding from first and last links for nicer alignment,
  // unless the link is active, in which case, leave the existing padding

  @include media($l-up) {
    &:first-child {
      &:not(.menu__item--active) {
        .menu__link {
          padding-left: 0;
        }
      }
    }

    &:last-child {
      &:not(.menu__item--active) {
        .menu__link {
          padding-right: 0;
        }
      }
    }
  }
}

.menu__link,
.menu__link:visited {
  @include rem('padding', ($vr * 1.5) $lr-pad);
  display:block;
  @include font-weight('medium');
  border-top:1px solid shade($white, 10%);
  text-align: center;
  color:$blue;

  @include media($l-up) {
    @include rem('padding', 1px 12px);
    border-top:0;
  }
}
.menu__link:hover {
  color:shade($blue, 25%);
}

.menu__item--active > .menu__link:link,
.menu__item--active > .menu__link:visited {
  background-color: $coral;
  @include font-weight('bold');
  color: $white;

  @include media($l-up) {
    @include rem('border-radius', 5px);
  }
}

// Convert to an inline menu at medium+ screen sizes
.menu--inline {
  @include media($l-up) {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    @include rem('margin', 0);
  }
}

.menu--align-right {
  text-align: right;

  @include media($l-up) {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;

    .menu__item:not(:first-child) {
      @include rem('margin-left', 10px);
    }
  }

}

// Container for mobile toggle buttons in header
.header__nav-toggle-buttons {
  position:absolute;
  right:$lr-pad * 0.5;
  top:50%;
  @include rem('margin-top', -20px);
}

// Buttons to toggle main navigation and search box on mobile
.header__nav-mobile-menu-toggle,
.header__nav-mobile-search-toggle {
  cursor: pointer;
  display: inline-block;
  padding-left:24px !important;

  @include media($s-down) {
    padding-left:0; // Words are removed so no need for padding
    height:3rem;
  }

  @include media($l-up) {
    display:none !important;
  }
}

.header__nav-mobile-search-toggle {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><g fill="%230cc"><path d="M20.194,3.46c-4.613-4.613-12.121-4.613-16.734,0c-4.612,4.614-4.612,12.121,0,16.735 c4.108,4.107,10.506,4.547,15.116,1.34c0.097,0.459,0.319,0.897,0.676,1.254l6.718,6.718c0.979,0.977,2.561,0.977,3.535,0 c0.978-0.978,0.978-2.56,0-3.535l-6.718-6.72c-0.355-0.354-0.794-0.577-1.253-0.674C24.743,13.967,24.303,7.57,20.194,3.46z M18.073,18.074c-3.444,3.444-9.049,3.444-12.492,0c-3.442-3.444-3.442-9.048,0-12.492c3.443-3.443,9.048-3.443,12.492,0 C21.517,9.026,21.517,14.63,18.073,18.074z"/></g></svg>') no-repeat 5px center;
  background-size:16px 16px;

  @include media($s-down) {
    background-position: center;
  }
}

.header__nav-mobile-menu-toggle {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24" enable-background="new 0 0 24 24" width="512px" height="512px"><g fill="%230cc"><path d="M24,3c0-0.6-0.4-1-1-1H1C0.4,2,0,2.4,0,3v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V3z"/><path d="M24,11c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V11z"/><path d="M24,19c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V19z"/></g></svg>') no-repeat 5px center;
  background-size:16px 16px;

  @include media($s-down) {
    background-position: center;
  }

}

.header__nav-mobile-menu-toggle.is-toggle--open {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="512px" height="512px"><g fill="%230cc"><path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"/></g></svg>') no-repeat 5px center;
  background-size:16px 16px;

  @include media($s-down) {
    background-position:center;
  }
}

.breadcrumbs {
  color:$brown;

  @include media($s-down) {
    display:none;
  }

  a,
  a:visited {
    color:$brown !important;
  }
  a:focus,
  a:hover,
  a:active {
    color:shade($blue, 25%) !important;
  }
}


// Link colour helper classes
.link--white,
.link--white:visited {
  color:$white !important;
}
.link--white:focus,
.link--white:hover,
.link--white:active {
  color:shade($white, 25%) !important;
}

.link--brown,
.link--brown:visited {
  color:$brown !important;
}
.link--brown:focus,
.link--brown:hover,
.link--brown:active {
  color:shade($brown, 25%) !important;
}