.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  @include rem('margin-bottom', $vr);
}

.menu--no-bottom-margin {
  @include rem('margin-bottom', 0);
}

  // Convert to an inline menu at medium+ screen sizes
.menu--inline {
 @include media($m-up) {
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: center;
   justify-content: space-between;
 }
}

.menu__item {
  // Remove padding from first and last links for nicer alignment,
  // unless the link is active, in which case, leave the existing padding
  &:first-child {
    .menu__link:not(.menu__link--active) {
      padding-left: 0;
    }
  }

  &:last-child {
    .menu__link:not(.menu__link--active) {
      padding-right: 0;
    }
  }
}

.menu__link,
.menu__link:visited {
  @include rem('padding', 4px 7px);
  display:block;
  text-align: center;
  color:$blue;
}
.menu__link:hover {
  color:shade($blue, 25%);
}

.menu__link--active:link,
.menu__link--active:visited {
  background-color: $coral;
  @include font-weight('bold');
  @include rem('border-radius', 6px);
  color: $white;
}

.menu--align-right {
  text-align: right;

  @include media($m-up) {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
  }

  .menu__item:not(:first-child) {
    @include rem('margin-left', 20px);
  }
}


// Link colour helper classes
.link--white,
.link--white:visited {
  color:$white;
}
.link--white:focus,
.link--white:hover,
.link--white:active {
  color:shade($white, 25%);
}