.widget {
  @include rem('padding-top', ($vr * 2));
  @include rem('margin-top', ($vr * 2));
  @include rem('margin-bottom', ($vr * 2));
  border-top:1px solid rgba($dark-grey, 0.1);
  &:first-of-type {
    border-top:0;
    padding-top:0;
    margin-top:0;
  }
}

.widget--no-border {
  border-top:0;
}

//Make all sidebar text smaller than default
.page-section__sidebar {
  @include font-size(14px, 20px);
}

// Target meta data of article extracts in the sidebar
.page-section__sidebar .article-extract__meta {
  color:$light-grey;
  @include font-size(12px, 20px);
}

// Turn sidebar menu widget lis into link-group__item classes
.widget_menu .menu-item {
  @extend .link-group__item;
}

.tagcloud {
  a {
    @extend .btn;
    @extend .btn--tertiary;
    @extend .btn--small;
    font-size:1.2rem !important;
  }
}