@font-face {
  font-family: 'UniformRounded--light';
  src: url('fonts/UniformRounded/Light/uniformrd-lt-webfont.woff2') format('woff2'),
  url('fonts/UniformRounded/Light/uniformrd-lt-webfont.woff') format('woff'),
  url('fonts/UniformRounded/Light/uniformrd-lt-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'UniformRounded--regular';
  src: url('fonts/UniformRounded/Regular/uniformrd-rg-webfont.woff2') format('woff2'),
  url('fonts/UniformRounded/Regular/uniformrd-rg-webfont.woff') format('woff'),
  url('fonts/UniformRounded/Regular/uniformrd-rg-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'UniformRounded--medium';
  src: url('fonts/UniformRounded/Medium/uniformrd-md-webfont.woff2') format('woff2'),
  url('fonts/UniformRounded/Medium/uniformrd-md-webfont.woff') format('woff'),
  url('fonts/UniformRounded/Medium/uniformrd-md-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'UniformRounded--bold';
  src: url('fonts/UniformRounded/Bold/uniformrd-bd-webfont.woff2') format('woff2'),
  url('fonts/UniformRounded/Bold/uniformrd-bd-webfont.woff') format('woff'),
  url('fonts/UniformRounded/Bold/uniformrd-bd-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'UniformRounded--black';
  src: url('fonts/UniformRounded/Black/uniformrd-bk-webfont.woff2') format('woff2'),
  url('fonts/UniformRounded/Black/uniformrd-bk-webfont.woff') format('woff'),
  url('fonts/UniformRounded/Black/uniformrd-bk-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'UniformRounded--ultra';
  src: url('fonts/UniformRounded/Black/uniformrd-ut-webfont.woff2') format('woff2'),
  url('fonts/UniformRounded/Black/uniformrd-ut-webfont.woff') format('woff'),
  url('fonts/UniformRounded/Black/uniformrd-ut-webfont.ttf') format('truetype');
}