* {
  z-index: z('default');
}

address {
  font-style:normal;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

a img {
  transition: all $base-duration $base-timing;
  &:hover {
    opacity:0.7;
  }
}



