.has-drop-shadow {
  position:relative;
  box-shadow: 0 3px 0 hsla(0, 100%, 0, 0.2);
}

// Margin helper classes
.margin--none {
  margin-top:0 !important;
  margin-bottom:0 !important;
  margin-left:0 !important;
  margin-right:0 !important;
}

.margin--no-top {
  margin-top:0 !important;
}

.margin--no-top-xsmall {
  @include media($xs) {
    margin-top:0 !important;
  }
}

.margin--no-top-small {
  @include media($s) {
    margin-top:0 !important;
  }
}

.margin--no-top-medium {
  @include media($m) {
    margin-top:0 !important;
  }
}

.margin--no-top-large {
  @include media($l) {
    margin-top:0 !important;
  }
}

.margin--no-top-xlarge {
  @include media($xl) {
    margin-top:0 !important;
  }
}


.margin--no-bottom {
  margin-bottom:0 !important;
}

.margin--no-bottom-xsmall {
  @include media($xs) {
    margin-bottom:0 !important;
  }
}

.margin--no-bottom-small {
  @include media($s) {
    margin-bottom:0 !important;
  }
}

.margin--no-bottom-medium {
  @include media($m) {
    margin-bottom:0 !important;
  }
}

.margin--no-bottom-large {
  @include media($l) {
    margin-bottom:0 !important;
  }
}

.margin--no-bottom-xlarge {
  @include media($xl) {
    margin-bottom:0 !important;
  }
}

.margin--bottom-small {
  margin-bottom: $vr !important;
}



.padding--no-top {
  padding-top:0 !important;
}

.padding--no-bottom {
  padding-bottom:0 !important;
}

.padding--none {
  padding:0 !important;
}