body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height * 0.8;

  @include media($l-up) {
    line-height: $base-line-height;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 ($vr * 2);
  font-weight:normal;
}

h1, .h1 {
  @include font-size(32px, 42px);
  @include rem('margin', 0 0 ($vr * 2) 0);

  @include media($l-up) {
    @include font-size(48px, 54px);
    @include rem('margin', 0 0 ($vr * 3) 0);
  }
}

h2, .h2 {
  @include font-size(26px, 32px);
  @include rem('margin', 0 0 ($vr * 2) 0);

  @include media($l-up) {
    @include font-size(36px, 44px);
    @include rem('margin', 0 0 ($vr * 3) 0);
  }
}

h3, .h3 {
  @include font-size(21px, 28px);
  @include rem('margin', 0 0 ($vr * 2) 0);

  @include media($l-up) {
    @include font-size(24px, 36px);
    @include rem('margin', 0 0 ($vr * 3) 0);
  }
}

h4, .h4 {
  @include font-size(18px, 24px);

  @include media($l-up) {
    @include font-size(21px, 30px);
  }
}

h5, .h5,
h6, .h6 {
  text-transform: uppercase;
  @include font-weight('bold');
  @include rem('letter-spacing', 4px);
  @include rem('margin', 0 0 ($vr * 2) 0);
}

h6, .h6 {
  @include font-size(14px, 18px);
  @include rem('margin', 0 0 $vr 0);
}

// classes that enable a header to appear styled
// to another header's look
// (useful when you want an H1 header to look different
// but still remain the main page title)
$headings: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';
@each $heading in $headings {
  .heading--show-as-#{$heading} {
    @extend .#{$heading};
  }
}

p {
  margin: 0 0 ($vr * 2);
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing, background-color $base-duration $base-timing;

  &:visited {
    color: inherit;
  }

  &:focus,
  &:hover,
  &:active {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

// Text alignment helper classes
.text--align-centre {
  text-align: center;
}

// Text transform helper classes
.text--uppercase {
  text-transform: uppercase;
}

// Text font weight helper classes
.text--light {
  @include font-weight('light');
}
.text--regular {
  @include font-weight('regular');
}
.text--medium {
  @include font-weight('medium');
}
.text--bold {
  @include font-weight('bold');
}
.text--black {
  @include font-weight('black');
}
.text--ultra {
  @include font-weight('ultra');
}

// Text style helper classes
.text--italic {
  font-style:italic;
}

// Text colour helper classes
.text--light-blue {
  color:$light-blue;
}
.text--yellow {
  color:$yellow;
}
.text--white {
  color:$white;
}
.text--coral {
  color:$coral;
}
.text--mid-grey {
  color:$mid-grey;
}
.text--light-grey {
  color:$light-grey;
}
.text--brown {
  color:$brown;
}

// Text size helper classes
.text--12 {
  @include font-size(12px, 14px);
}
